@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

main{
    display: grid;
    grid-template-areas:
    'navbar navbar'
    'accesorios galeria'
    'footer footer';
    grid-template-columns: 12% auto;
    grid-template-rows: 4rem auto 3rem;
}

nav{
    background-color: rgb(140, 140, 255);
    color: rgb(255, 255, 255);
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesorios{
    background-color: rgb(237, 237, 255);
    color:rgb(87, 87, 255);
    grid-area: accesorios;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.accesorios > h4{
    padding: 1.5rem 0rem 1rem;
}

ul > li{
    list-style: none;
    color: #2b2b2b;
}

.galeria{
    grid-area: galeria;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    padding: 0.5rem;
}

.tarjeta{
    background-color: rgb(237, 237, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem 0rem;
    width: 85%;
    border: 1px solid rgb(140, 140, 255);
}

.img-tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-tarjeta > img {
    width: 100%;
}

.text-tarjeta {
    padding: 1rem;
    color: #2b2b2b;
    text-align: center;
}

.text-tarjeta > h4{
    padding-bottom: 0.5rem;
}

.text-tarjeta > p{
    padding: 0.5rem 0rem 0.3rem;
}

.tarjeta > button{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color:rgb(140, 140, 255);
    color: #ffffff;
    border-radius: 10px;
}

footer{
    background-color: rgb(140, 140, 255);
    grid-area: footer;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}